*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY */
:root{
    --bg-header: #255ee9;
    --primary-color: #ffffff;
    --bg-section: #f6f6f6;
    --bg-footer: #23272a;
    --lightblue: #7289da;
}
.debug{
    border: 2px solid red;
}
.d-flex{
    display: flex;
    flex-flow: row wrap;
}

.middle{
    max-width: 1200px;
    margin: 0 auto;
}

.bttn{
    border-radius: 15px;
    text-decoration: none;
    padding:5px 15px;
}
/* BODY */
body{
    font-family: 'Noto Sans', sans-serif;
}

/* HEADER */
header{
    background-color: var(--bg-header);
    padding:20px 0;
}
nav{
    justify-content: space-between;
    align-items: center;
}
ul{
    color: var(--primary-color);
    list-style: none;
    gap:40px;
}
.login{
    font-weight: 600;
    background-color: var(--primary-color);
    color: black;
}

/* MAIN */
.hero{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: bottom 35% right 0%;
    height:600px;
}

/* SECTION FRONTPAGE */
.frontpage{
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    width: 1200px;
}
.front-title{
    color: var(--primary-color);
    font-size: 60px;
    padding-bottom: 50px;
}
.front-p{
    color: var(--primary-color);
    font-size: 1.4em;
    padding-bottom: 30px;
}

.download{
    font-weight: 600;
    color: black;
    background-color: var(--primary-color);
}
.openbrowser{
    font-weight: 600;
    color: var(--primary-color);
    background-color: var(--bg-footer);
}
.download, .openbrowser{
    margin:10px;
    padding:10px 20px;
    border-radius: 20px;
}
.container-lightcolor{
    background-color: var(--bg-section)
}
.left{
    width: 55%;    
}
.right{
    width: 45%;
}
.voice{
    flex-flow: row-reverse wrap;
}
.center{
    margin: auto;
}

/* FOOTER */
footer{
    color: white;
    background-color: var(--bg-footer);
    
}
.f-container{
    justify-content: space-between;
}

/* ASIDE */
aside{
    background-color: var(--bg-footer);
    justify-content: space-between;
}

.a-container{
    justify-content: space-between;
}