*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY */
:root{
    --bg-header: #255ee9;
    --primary-color: #ffffff;
    --bg-section: #f6f6f6;
    --bg-footer: #23272a;
    --lightblue: #7289da;
}
.debug{
    border: 2px solid red;
}
.d-flex{
    display: flex;
    flex-flow: row wrap;
}

.middle{
    max-width: 1200px;
    margin: 0 auto;
}
/* BODY */
body{
    font-family: 'Noto Sans', sans-serif;
}

/* HEADER */
header{
    background-color: var(--bg-header);
    padding:20px 0;
}
nav{
    justify-content: space-between;
    align-items: center;
}
ul{
    color: var(--primary-color);
    list-style: none;
    gap:40px;
}
.login{
    border: 1px solid white;
    border-radius: 15px;
    background-color: var(--primary-color);
    color: black;
    text-decoration: none;
    padding:5px 10px;
}

/* MAIN */
.container-lightcolor{
    background-color: var(--bg-section)
}
.left{
    width: 55%;    
}
.right{
    width: 45%;
}
.voice{
    flex-flow: row-reverse wrap;
}
.center{
    margin: auto;
}

/* FOOTER */
footer{
    color: white;
    background-color: var(--bg-footer);
    
}
.f-container{
    justify-content: space-between;
}

/* ASIDE */
aside{
    background-color: var(--bg-footer);
    justify-content: space-between;
}

.a-container{
    justify-content: space-between;
}